@model SimpleSchool.Core.Entities.Room

<h1>Edit Room</h1>
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4">
        <form asp-controller="Room" asp-action="Edit" asp-route-id="@Model.RoomID" method="post">
            <input type="hidden" asp-for="RoomID" />
            <input type="hidden" asp-for="BuildingID" />
            <div class="mb-3">
                <label asp-for="RoomNumber" class="form-label">Room Number</label>
                <input type="text" class="form-control" id="RoomNumber" asp-for="RoomNumber">
            </div>
            <div class="mb-3">
                <label asp-for="Description" class="form-label">Description</label>
                <input type="text" class="form-control" id="Description" asp-for="Description">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>